.add-btn {
  background-color: #00093e;
  color: white;
  border: none;
  font-size: 15px;
}

.new-to-do-btn {
  background-color: #00093e;
  color: white;
  border: none;
  font-size: 15px;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  font-size: 1.1rem;
}

.btn-add-g {
  position: absolute;
  top: 5rem;
  right: 2.5rem;
  margin: 1rem;
  background-color: #00093e;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: right;
  cursor: pointer;
  border-radius: 150px;
}

.add-btn-text {
  color: white;
  font-size: 15px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
