ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  list-style-type: none;
  border-radius: 10px;
  padding: 30px;
}

.li {
  display: flex;
  flex-direction: column;
  margin: -15px;
  margin-bottom: 2px;
  padding-left: 0px;
  width: 90%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  width: 95%;
  height: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  flex-wrap: wrap;
}

.container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.button-delete {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-completed {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

.flex-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

span {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.margin-top {
  margin-top: 15px;
}

.completed-overlay {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-26deg);
}

.completed-text {
  text-decoration: underline;
  font-size: 56px;
  font-weight: bold;
  color: rgba(34, 33, 33, 0.5);
}
