ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  list-style-type: none;
  border-radius: 10px;
  padding: 30px;
}
.display-block {
  padding: 3rem;
  margin: 1rem;
  width: 40rem;
}

.li {
  display: flex;
  flex-direction: column;
  margin: -15px;
  margin-bottom: 2px;
  padding-left: 0px;
  width: 90%;
}

.new-to-do {
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  background-color: #fdfcfc !important;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 8rem;
  margin-top: 1rem;
}

.btn-add-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 150px;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.098);
  padding: 30px;
  flex-wrap: wrap;
  background-color: #e1e1e1;
}

.container-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.098);
  padding: 30px;
  flex-wrap: wrap;
  background-color: #e1e1e1;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 60%;
}

.button-delete {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-completed {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

.flex-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

span {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.margin-top {
  margin-top: 15px;
}

.completed-overlay {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-20deg);
  width: 20rem;
  height: 4rem;
}

.completed-text {
  text-decoration: underline;
  font-size: 56px;
  font-weight: bold;
  color: rgba(30, 28, 28, 0.819);
}
