body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #9198c055;
  color: #333333;
}

.new-to-do {
  width: 480px;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #9198c0e5;
}

h1 {
  text-align: center;
  font-size: 2em;
  color: #00093e;
  font-weight: bold;
  margin: 0.5em 0 0.25em 0;
}

.new-to-do-controls {
  font-size: 1.5em;
  color: #00093e;
  font-weight: bold;
  margin: 0.5em 0 0.25em 0;
}

.textarea {
  width: 100%;
  padding: 0.75em;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  box-sizing: border-box;
}

.new-to-do-btn {
  text-align: center;
  padding: 0.5em 1em;
  margin-top: 1.5em;
  color: #00093e;
  font-size: 1em;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
}

.new-to-do-btn:hover {
  background-color: #00093e;
  color: white;
}

ul {
  width: 450px;
  margin: 0 auto;
  padding: 1em 2em;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #9198c0e5;
  list-style-type: none;
}

li {
  font-size: 24px;
  color: #00093e;
}

.li-description {
  padding-left: 72px;
}

li .checkbox {
  display: inline-block;
  margin-left: 5rem;
  /* padding-left: 40rem; */
}
